
    <div class="modal fade" id="exampleModalCart" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Наименование</th>
                        <th>Артикул</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Сумма</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat='p in CardList'>
                        <td>{{p.id}}</td>
                        <td>{{p.title}}</td>
                        <td>{{p.article}}</td>
                        <td>{{p.price}}</td>
                        <td>
                            <label ng-click="addToCart(p.id, -1)" >-</label>
                            {{p.count}}
                            <label ng-click="addToCart(p.id, 1)" >+</label>
                        </td>
                        <td>{{p.price * p.count}}</td>
                        <td>
                            <svg ng-click="deleteProductFromCart(p.id)" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 20 20">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                            </svg>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="modal-footer">
                    <h6>Итого</h6>
                    <label>Кол-во позиций: {{CardTotalSize}},    Кол-во товаров: {{CardTotalProduct}}, </label>
                    <h6>Сумма: {{CardTotalSumm}}</h6>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>

            </div>
        </div>
    </div>